{% extends "base.html"%}
{% block style%}
    .abc {
        background-color: red;
    }
    .def {
        background-color: green;
    }
{% endblock style%}
{% block content %}

<h1>Products</h1>
<p>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search" >
        <input type="submit" value="Search" value="{{ request.GET.q }}" />
    </form>
</p>
<ul>
    {% for instance in object_list %}
        <li class="{% cycle 'abc' 'def' ''%}"><a href="{{ instance.get_absolute_url }}"> {{ instance }} </a><br />
            {{ instance.description | truncatechars:100}} <br />
            {{ instance.price }}</li>
        {% empty %}
        <li>No Product yet</li>
    {% endfor %}
</ul>

{% endblock %}